<input type="text" [(ngModel)]="term" (keyup)="getfilteraccounts()">

<label>Column</label>
<select [(ngModel)]="column">
    <option>account_name</option>
    <option>account_number</option>
    <option>available_balance</option>
    <option>city</option>
    <option>id</option>
</select>

<label>Order</label>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="getsortedaccounts()">sort</button>

<label>Limit</label>
<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
    <option>50</option>
    <option>60</option>
</select>

<label>page</label>
<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
</select>

<button (click)="getpaginationaccounts()">sort</button>



<table class="table table-dark">
    <thead>
        <tr>
            <th>account_name</th>
            <th>available_balance </th>
            <th>account_number</th>
            <th>city</th>
            <th>profie_picture</th>
            <th>id</th>
            <th>Delete
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bankaccount of bankaccounts">
            <td>{{ bankaccount.account_name }}</td>
            <td>{{ bankaccount.available_balance |price }}</td>
            <td>{{ bankaccount.account_number }}</td>
            <td>{{ bankaccount.city }}</td>
            <td>
                <img src="{{ bankaccount.profie_picture }}" alt="" height="50px" width="50px">
            </td>
            <td>{{ bankaccount.id | age }}</td>
            <td><button (click)="deleteaccounts(bankaccount.id)" class="btn btn-danger">delete</button></td>
        </tr>
    </tbody>
</table>
 <button type="button" class="button">
    <span class="button__text">Loading</span>
 </button>

 <div class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>




  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  <!-- Use any element to open the sidenav -->
  <span onclick="openNav()">open</span>
  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">
    ...
  </div>