<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 card" *ngFor="let product of products">
        <p><img src="{{product.image}}" alt="" height="150px" width="150px"></p>
        <p><span>{{product.id}}</span></p>
        <p><span>{{product.title}}</span></p>
        <p><span>{{product.price}}</span></p>
        <p style="height: 100px; overflow: auto;"><span>{{product.description}}</span></p>
        <p><span>{{product.category}}</span></p>
        <p><span>{{product.rating.rate}}</span></p>
        <p><span>{{product.rating.count}}</span></p>


    </div>
</div>