label{
    width: 100px;
}
button{
    position: relative;
    left: 150px;

}
input{
    margin-bottom: 15px;
    outline-color: rgb(24,119,242);
    border: 0px;
    height: 30px;
    border-radius: 5px;
}
label::after{
    content: "*";
    color: red;
}
h1{
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
