<div class="row">
    <div class="col-lg-3 col-mid-4 col-sm-6 col-12 card" *ngFor="let product of products">
        <p> <img src="{{ product.image }}" alt="" height="200px" width="200px"></p>
        <p> id:{{ product.id }}</p> 
        <p> title:{{ product.title }}</p> 
        <p> price:{{ product.price }}</p>
        <p class="hello"> description:{{ product.description }}</p> 
        <p> category:{{ product.category }}</p> 
        <p> rating:{{ product.rating.rate }}</p> 
        <p>  rate:{{ product.rating.rate }} </p>
        <p>  count:{{ product.rating.count }}</p>

    </div>
    
    

</div>