<div class="parent">
    <div class="left">
       <div> <h1>MY WEBSITE</h1><hr></div>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="info">info</h2>
        <h2 routerLink="variable">variable</h2>
        <h2 routerLink="interpolution">Interpultion</h2>
        <h2 routerLink="eventbinding">eventbinding</h2>
        <h2 routerLink="twobinding">two way binginding</h2>
        <h2 routerLink="calculator" >calculator</h2> 
        <h2 routerLink="rectangular">recangular</h2>
        <h2 routerLink="circle">circle</h2>
        <h2 routerLink="structoraldirectories">structure directories</h2>
        <h2 routerLink="attributes-directives">Attribute-Directives</h2>
        <h2 routerLink="table">Table</h2>
        <h2 routerLink="tables">Tables</h2>
        <h2 routerLink="vehicle">vehicle</h2>
        <h2 routerLink="bankaccounts">Bank Accounts</h2>
        <h2 routerLink="accounts">Accounts</h2>
        <h2 routerLink="flipcart">Flipcart</h2>
        <h2 routerLink="mail">Mail</h2>
        <h2 routerLink="activity">Activity</h2>
        <h2 routerLink="memes">Memes</h2>
        <h2 routerLink="resume">Resume</h2>
        <h2 routerLink="homework">Homework</h2>
        <h2 routerLink="bank">Bank</h2>
        <h2 routerLink="flipcart1">Flipcart1</h2>
        <h2 routerLink="mail1">mail1</h2>
        <h2 routerLink="create-vehicle">Create vehicle</h2>
        <h2 routerLink="create-bankaccounts">Create BankAccounts</h2>
        <h2 routerLink="create-studentsdata">Students Data</h2>
        <h2 routerLink="create-user">create user</h2>
        <h2 routerLink="create-product">Create Product</h2>
        <h2 routerLink="create-example">Example</h2>
        <h2 routerLink="products">products</h2>
        <h2 routerLink="parent">parent</h2>
        <h2 routerLink="parent1">parent1</h2>
        <h2 routerLink="cal">cal</h2>
        <h2 routerLink="item">Item</h2>
        <h2 routerLink="nav">Nav</h2>
        <h2 routerLink="cart">Cart</h2>
        <h2 routerLink="item1">Item1</h2>
        <h2 routerLink="nav1">Nav1</h2>
        <h2 routerLink="cart1">Cart1</h2>
        <h2 routerLink="about-company">About company</h2>
        <h2 routerLink="about-ceo">About CEO</h2>
        <h2 routerLink="contact/contact-hr"> contact-hr</h2>
        <h2 routerLink="contact/contact-support"> contact-support</h2>
        <h2 routerLink="payment/payment"> payment</h2>
 
        <button (click)="logout()">Logout</button>
  

    </div>
    <div class="right">
      <router-outlet></router-outlet>
           
    </div>
</div>